.header {
    background-color:var(--uwu);
    display: flex;
    justify-content: center;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 200;
}

.container-header
{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-logo
{
    display: flex;
    height: 90px;
    padding: 0 5px;
    width: 90px;
}

.header-title
{
    display: flex;
    margin: 3px;
}

.navigation
{
    display: flex;
    font-size: 20px;
    padding: 0 12px;
    justify-content: space-between;
}

.navigation li
{
    list-style-type: none;
    text-transform: capitalize;
}

.navigation li a
{
    align-items: center;
    color: white;
    font-weight: 700;
    padding-right: 12px;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.navigation li a:hover
{
    color: gold;
}

.navigation li a.active
{
    color: var(--blue-light);
}

.navigation li a.active:hover
{
    color: var(--uwu-dark);
}

.button-login
{
    background-image: linear-gradient(to top,
    var(--uwu), var(--uwu-dark)
    );
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 30px;
    text-decoration: none;
}

.button-login:hover
{
    background-image: linear-gradient(to bottom,
    var(--uwu), var(--uwu-dark)
    );
    color: gold;
    transition: all 0.3s ease-in-out;
}

.btngototop
{   
    background-color: white;
    color: rgb(12, 181, 91);
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 130px;
    z-index: 100;
}
.btn-top-icon
{   
    cursor: pointer;
    height: 28px;
    width: 28px;
}
